body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(254.93deg, rgb(175, 178, 36) 9.3%, rgb(21, 180, 129) 48.25%, rgb(0, 182, 222) 90.35%);
}

* {
    font-size: 1.1rem;
}

.tb{
    border-collapse: separate;
    border-spacing: 0px;

    min-width: 500px;
    max-width: 1100px;
}

.td-round-2:hover, .td-round:hover {
    outline:0.75rem solid rgba(255,255,255,0.14);
}

.td-round-2 {
    color: #a62121;
    border-radius: 1rem;
    background: #fff;
    box-shadow: rgba(45, 73, 88, 0.07) 0px 12px 24px;
    padding: 0px;
    overflow: hidden;
    outline:0.75rem solid rgba(255,255,255,0.07);
    transition: outline-color .35s ease-out;
}

.close-btn{
    display: inline-block;
    background: #b33232;
    width:1.3rem;
    height: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
    border-radius: 1.3rem;
    color: #fff5dd;
    margin-right: 0.5rem;
}

.td-round {
    border-radius: 1rem;

    /*background: rgba(255,255,255, 0.9);*/
    background: #fff;
    box-shadow: rgba(45, 73, 88, 0.15) 0px 12px 24px;
    padding: 0px;
    overflow: hidden;

    outline:0.75rem solid rgba(255,255,255,0.07);
    transition: outline-color .35s ease-out;
}

.drop-container input{
    visibility: hidden;
    height: 0px;
    width: 0px;
    box-sizing: border-box;
    font-size: 1px;
    cursor: pointer;

}
.drop-container:hover {
    background: linear-gradient(254.93deg, rgb(188, 191, 36) 9.3%, rgb(21, 180, 129) 48.25%, rgb(0, 187, 227) 90.35%);
    box-shadow: rgba(45, 73, 88, 0.05) 0px 12px 24px;
}
.drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #444;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    background: linear-gradient(254.93deg, rgb(175, 178, 36) 9.3%, rgb(21, 180, 129) 48.25%, rgb(0, 182, 222) 90.35%);
}

.center {
    margin: auto;
}

.label {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(45, 73, 88, 0.02) 0px 12px 24px;
    color: #555;
    font-weight: bold;
}


.border-gradient{
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 11px, transparent 11px) 0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 11px, transparent 11px) 100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 11px, transparent 11px) 0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 11px, transparent 11px) 100% 100%/16px 16px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 32px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 10px) no-repeat,
    linear-gradient(293deg, rgb(175,178,36) 0%, rgb(21,180,129) 50%, rgb(0,182,222) 100%);
    border-radius: 16px;
    padding: 15px;
    box-sizing: border-box;
}

.input-text{

    border: 0px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-align: center;

    width: 99%;

    display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-text:focus {
    outline: 0;
    box-shadow: rgba(45, 73, 88, 0.05) 0px 12px 24px;
}

.m-2{
    padding: 1.2rem;
}

.m{
    padding: 0rem 2rem 1.3rem 2rem;
}

.b2{
    border-top:1px solid rgba(0,0,0,0.08);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.05) 100%);
}

.div-submit{
    width: 3rem;
    height: 3rem;
    background: linear-gradient(254.93deg, rgb(175, 178, 36) 9.3%, rgb(21, 180, 129) 48.25%, rgb(0, 182, 222) 90.35%);
    border-radius: 1rem;
    cursor: pointer;
}

.div-submit:hover{
    background: linear-gradient(254.93deg, rgb(188, 191, 36) 9.3%, rgb(21, 180, 129) 48.25%, rgb(0, 187, 227) 90.35%);
    box-shadow: rgba(45, 73, 88, 0.05) 0px 12px 24px;
}

.button-submit {
    width: 3rem;
    height: 3rem;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='24px' height='24px' viewBox='0 0 512 512' id='_x30_1' version='1.1' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%23fff' d='M500.284,443.716l-81.839-81.839c26.117-37.251,41.481-82.592,41.555-131.523c0.189-125.3-100.912-228.299-226.196-230.323 C103.766-2.07-2.07,103.767,0.031,233.804C2.055,359.088,105.054,460.188,230.354,460c48.931-0.074,94.272-15.438,131.523-41.555 c0,0,81.839,81.839,81.839,81.839c15.621,15.621,40.948,15.621,56.568,0h0C515.905,484.663,515.905,459.337,500.284,443.716z M230,380c-82.71,0-150-67.29-150-150S147.29,80,230,80s150,67.29,150,150S312.71,380,230,380z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

/* default state */
input[type='date'], input[type='time'] {
    -webkit-appearance: none;
    color: #999;
}


/* small desktop */
@media all and (max-width: 1200px) {

}

/* tablet */
@media all and (max-width: 1024px) {
    .tb{
        width: 90%;
    }
    * {
        font-size: 1.7rem;
    }
    .m{

    }
}

/* mobile phone */
@media all and (max-width: 768px) {

}